{erl_opts, [debug_info, warn_unused_vars, warn_shadow_vars, warn_obsolete_guard,
            warnings_as_errors]}.

{deps,
 [
   %% proper is like eunit but with properties ...
  {proper, "1.0", {git, "git://github.com/manopapad/proper.git",
                   {branch, "master"}}}

 ]}.

{cover_print_enabled, true}.
{cover_enabled, true}.



